* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

@font-face {
  font-family: "monogram";
  src: url("monogram.woff2") format("woff2");
  src: url("monogram.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  background-color: #C9B499;
  border-left: 2px solid #ece5dc;
  border-top: 2px solid #ece5dc;
  border-right: 2px solid #dbcdba;
  border-bottom: 2px solid #dbcdba;
  -webkit-box-shadow: 0px 2px #624e34;
  box-shadow: 0px 2px #624e34;
  width: 100%;
  height: 48px; }

.header_text {
  float: left;
  margin-left: 16px;
  font-family: "monogram", monospace;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #818181;
  text-shadow: 1px 1px #1b1b1b;
  line-height: 16px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.menu_toggle {
  z-index: 100;
  position: fixed;
  left: 100%;
  -webkit-transform: translateX(-48px);
  -ms-transform: translateX(-48px);
  transform: translateX(-48px);
  display: inline-block;
  cursor: pointer;
  margin-right: 16px;
  margin-top: 12px; }
  .menu_toggle span {
    width: 32px;
    height: 4px;
    background-color: #F2F2F2;
    -webkit-box-shadow: 1px 1px #8c8c8c;
    box-shadow: 1px 1px #8c8c8c;
    display: block;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .menu_toggle span:nth-of-type(2) {
    margin: 6px 0; }

.menu_toggle-open span {
  background-color: #818181; }

.menu_toggle-open span:nth-of-type(1) {
  -webkit-transform: translate(0px, 10px) rotate(-45deg);
  -ms-transform: translate(0px, 10px) rotate(-45deg);
  transform: translate(0px, 10px) rotate(-45deg);
  -webkit-box-shadow: 0 1px #1b1b1b;
  box-shadow: 0 1px #1b1b1b; }

.menu_toggle-open span:nth-of-type(2) {
  opacity: 0; }

.menu_toggle-open span:nth-of-type(3) {
  -webkit-transform: translate(0px, -10px) rotate(45deg);
  -ms-transform: translate(0px, -10px) rotate(45deg);
  transform: translate(0px, -10px) rotate(45deg);
  -webkit-box-shadow: 1px 0 #1b1b1b;
  box-shadow: 1px 0 #1b1b1b; }

.menu {
  font-family: "monogram", monospace;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #818181;
  text-shadow: 1px 1px #1b1b1b;
  line-height: 24px;
  width: 70%;
  height: 480px;
  background-color: #F2F2F2;
  position: absolute;
  top: 0;
  left: 100%;
  padding-top: 80px;
  padding-right: 16px;
  text-align: right;
  display: none; }
  .menu ul li {
    margin-bottom: 16px; }
  .menu a {
    color: inherit; }
  .menu img {
    height: 24px; }

.menu-open {
  z-index: 80;
  left: 30%;
  display: block; }

@media only screen and (min-width: 640px) {
  .header {
    background-color: #C9B499;
    border-left: 2px solid #ece5dc;
    border-top: 2px solid #ece5dc;
    border-right: 2px solid #dbcdba;
    border-bottom: 2px solid #dbcdba;
    -webkit-box-shadow: 0px 4px #624e34;
    box-shadow: 0px 4px #624e34;
    height: 96px; }
  .header_text {
    margin-left: 32px;
    font-family: "monogram", monospace;
    font-size: 64px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #818181;
    text-shadow: 1px 1px #1b1b1b;
    line-height: 32px; }
  .menu_toggle {
    -webkit-transform: translateX(-96px);
    -ms-transform: translateX(-96px);
    transform: translateX(-96px);
    margin-right: 32px;
    margin-top: 24px; }
    .menu_toggle span {
      width: 64px;
      height: 8px;
      -webkit-box-shadow: 2px 2px #8c8c8c;
      box-shadow: 2px 2px #8c8c8c; }
    .menu_toggle span:nth-of-type(2) {
      margin: 12px 0; }
  .menu_toggle-open span:nth-of-type(1) {
    -webkit-transform: translate(0px, 20px) rotate(-45deg);
    -ms-transform: translate(0px, 20px) rotate(-45deg);
    transform: translate(0px, 20px) rotate(-45deg);
    -webkit-box-shadow: 0 2px #1b1b1b;
    box-shadow: 0 2px #1b1b1b; }
  .menu_toggle-open span:nth-of-type(3) {
    -webkit-transform: translate(0px, -20px) rotate(45deg);
    -ms-transform: translate(0px, -20px) rotate(45deg);
    transform: translate(0px, -20px) rotate(45deg);
    -webkit-box-shadow: 2px 0 #1b1b1b;
    box-shadow: 2px 0 #1b1b1b; }
  .menu {
    font-family: "monogram", monospace;
    font-size: 96px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #818181;
    text-shadow: 1px 1px #1b1b1b;
    line-height: 48px;
    height: 960px;
    padding-top: 160px;
    padding-right: 32px; }
    .menu ul li {
      margin-bottom: 32px; }
    .menu img {
      height: 48px; } }

body {
  background-color: HSLA(0, 0%, 0%, 0.8); }

.container {
  width: 320px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 8px 16px HSLA(0, 0%, 0%, 0.5);
  box-shadow: 8px 8px 16px HSLA(0, 0%, 0%, 0.5); }

@media only screen and (min-width: 640px) {
  .container {
    width: 640px;
    height: 960px;
    -webkit-box-shadow: 16px 16px 32px HSLA(0, 0%, 0%, 0.5);
    box-shadow: 16px 16px 32px HSLA(0, 0%, 0%, 0.5); } }

.character_information {
  width: 100%;
  height: 304px;
  display: block;
  background-image: url("../images/character-background.png");
  background-size: cover;
  text-align: center;
  padding-top: 16px;
  position: relative;
  top: 2px; }
  .character_information #characterName {
    font-family: "monogram", monospace;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2F2F2;
    text-shadow: 1px 1px #8c8c8c;
    line-height: 24px;
    display: block; }
  .character_information #characterAlias {
    font-family: "monogram", monospace;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #818181;
    text-shadow: 1px 1px #1b1b1b;
    line-height: 16px;
    display: block;
    margin-top: 16px; }
  .character_information #characterImage {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    display: inline-block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    -webkit-transform: scale(0.5) translateX(-50%);
    -ms-transform: scale(0.5) translateX(-50%);
    transform: scale(0.5) translateX(-50%); }
  .character_information #characterSelect {
    background-color: #C75D5F;
    border-left: 2px solid #e1a9aa;
    border-top: 2px solid #e1a9aa;
    border-right: 2px solid #d48384;
    border-bottom: 2px solid #d48384;
    -webkit-box-shadow: 0px 2px #411717;
    box-shadow: 0px 2px #411717;
    font-family: "monogram", monospace;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2F2F2;
    text-shadow: 1px 1px #8c8c8c;
    line-height: 16px;
    padding: 4px;
    margin-top: 16px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.character_selection {
  background-color: #C9B499;
  -webkit-transform: translate(-1px, -1px);
  -ms-transform: translate(-1px, -1px);
  transform: translate(-1px, -1px); }
  .character_selection span {
    width: 64px;
    height: 64px;
    float: left;
    display: inline-block;
    -webkit-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
    cursor: pointer; }
  .character_selection #char1 {
    background-image: url(../images/avatars/jon-snow.png); }
  .character_selection #char2 {
    background-image: url(../images/avatars/samwell-tarly.png); }
  .character_selection #char3 {
    background-image: url(../images/avatars/brandon-stark-and-walder.png); }
  .character_selection #char4 {
    background-image: url(../images/avatars/gregor-clegane.png); }
  .character_selection #char5 {
    background-image: url(../images/avatars/khal-drogo.png); }
  .character_selection #char6 {
    background-image: url(../images/avatars/cersei-lannister.png); }
  .character_selection #char7 {
    background-image: url(../images/avatars/arya-stark.png); }
  .character_selection #char8 {
    background-image: url(../images/avatars/daenerys-targaryen.png); }
  .character_selection #char9 {
    background-image: url(../images/avatars/melisandre.png); }
  .character_selection #char10 {
    background-image: url(../images/avatars/brienne-of-tarth.png); }
  .character_selection #char1, .character_selection #char2, .character_selection #char3, .character_selection #char4, .character_selection #char5, .character_selection #char6, .character_selection #char7, .character_selection #char8, .character_selection #char9, .character_selection #char10 {
    background-size: cover; }

@media only screen and (min-width: 640px) {
  .character_information {
    height: 608px;
    padding-top: 32px;
    top: 4px; }
    .character_information #characterName {
      font-family: "monogram", monospace;
      font-size: 96px;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: #F2F2F2;
      text-shadow: 1px 1px #8c8c8c;
      line-height: 48px; }
    .character_information #characterAlias {
      font-family: "monogram", monospace;
      font-size: 64px;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: #818181;
      text-shadow: 1px 1px #1b1b1b;
      line-height: 32px;
      margin-top: 32px; }
    .character_information #characterImage {
      -webkit-transform: scale(1) translateX(-50%);
      -ms-transform: scale(1) translateX(-50%);
      transform: scale(1) translateX(-50%); }
    .character_information #characterSelect {
      font-family: "monogram", monospace;
      font-size: 64px;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: #F2F2F2;
      text-shadow: 1px 1px #8c8c8c;
      line-height: 32px;
      padding: 8px;
      margin-top: 32px; }
  .character_selection {
    -webkit-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
    .character_selection span {
      width: 128px;
      height: 128px;
      -webkit-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
      transform: translate(2px, 2px); } }
