@import "main"

.container-home
  background-color: $dark-bg
  text-align: center

.heading
  +monogram-font(32px, $light-text)
  margin-top: 32px

.sub-heading
  +monogram-font(24px, $light-text)
  margin-top: 32px

button
  +beveledBg($trap)
  +monogram-font(32px, $light-text)
  padding: 4px
  margin-top: 32px
  cursor: pointer